#task {
}
#task-heading {
  margin-top: 10px;
  padding: 20px 10px;
  background-color: #fff;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
#task-heading p {
  background-color: rgb(26, 44, 121);
}

.date-item {
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: #fff;
  padding: 30px 20px 30px 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 21px;
  background-color: rgb(26, 44, 121);
  border-radius: 50px;
  color: #fff;
  font-weight: 700;
}
.activ {
  background-color: rgb(145, 216, 245);
  color: #000;
}

#task-bar {
  background-color: rgb(194, 234, 250);
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-radius: 40px;
  padding: 40px;
}

.item-status {
  background-color: #fff;
  color: #000;
  height: 90px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}
#task-video {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.task-logo {
  background-color: rgb(26, 44, 121);
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
