#service {
  height: 100vh;
  background-color: rgb(10 21 66);
  overflow: auto;
}

#service img {
  width: 90%;
  border-radius: 10px;
}

.whiteboard {
  position: absolute;
  top: 159px;
  left: 280px;
  background-color: black;
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .whiteboard {
    position: absolute;
    top: 48px;
    left: 82px;
    background-color: black;
    width: 76px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
}
