*::-webkit-scrollbar {
  display: none;
}
*::selection {
  user-select: none;
}
body {
  background-color: #1b2b4f;
  color: #000;
  height: 100%;
  transition: 0.5s;
  scroll-behavior: smooth;
}

.item-list {
  display: none;
}

#iframe::-webkit-scrollbar {
  display: none;
  padding: 0px;
}

#qr {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 800px) {
  #service-id {
    font-size: 32px;
  }
}
