*::-webkit-scrollbar {
  display: none;
}
*::selection {
  user-select: none;
}
body {
  background-color: #1a2c79;
  color: #000;
  height: 50vh;
  transition: 0.5s;
  scroll-behavior: smooth;
}

.item-list {
  display: none;
}
